body {
    width: 500px;
    margin: 5% auto;
    font-family: sans-serif;
}

.calculadora {
    padding: 30px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.panel {
    border: 1px solid #ddd;
    height: 30px;
    text-align: right;
    padding: 25px;
    font-size: 25px;
}

button {
    font-size: 20px;
}

.operadores {
    display: flex;
    justify-content: space-between;
}

.operadores button {
    border: 1px solid #bbb;
    width: 100px;
    padding: 20px;
    margin-top: 25px;
    background-color: #ddd;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.numbers button {
    border: 1px solid #ddd;
    width: 100px;
    padding: 20px;
    margin-top: 15px;
    background-color: #f9f9f9;
}

.operadores2 {
    display: flex;
    justify-content: space-between;
}

.operadores2 button {
    border: 1px solid #bbb;
    width: 100px;
    padding: 20px;
    margin-top: 15px;
    background-color: #ddd;
}

.operadores2 .equal {
    width: 211px;
    border: 1px solid #b94444;
    color: #FFF;
    background-color: #fe4d4d;
}